[submodule "third_party/DSAlign"]
	path = third_party/DSAlign
	url = git@github.com:mozilla/DSAlign.git
[submodule "third_party/internetarchive"]
	path = third_party/internetarchive
	url = git@github.com:galv/internetarchive.git
[submodule "third_party/CAT"]
	path = third_party/CAT
	url = git@github.com:thu-spmi/CAT.git
[submodule "third_party/language-resources"]
	path = third_party/language-resources
	url = git@github.com:google/language-resources.git
[submodule "kaldi"]
	path = third_party/kaldi
	url = git@github.com:kaldi-asr/kaldi.git
